<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juzi.flymsg.mapper.PostThumbMapper">

    <resultMap id="BaseResultMap" type="com.juzi.flymsg.model.entity.PostThumb">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="postId" column="postId" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,postId,userId,
        createTime,updateTime
    </sql>
    <select id="hasThumbed" resultType="java.lang.Integer">
        select count(1)
        from post_thumb
        where postId = #{postId}
          and userId = #{userId};
    </select>
</mapper>
